name: Build

on: [ push ]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Build
        id: build
        run: |
          bash ./scripts/check.sh
          
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action/composite@v2
        if: ${{ success() || failure() }}
        with:
          files: |
            library/lorcana-data/build/test-results/**/*.xml

  publish:
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write
      checks: write

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Build
        id: build
        run: |
          ./gradlew :quick_map:run    

      - name: Read tag
        id: read_version
        uses: christian-draeger/read-properties@1.1.1
        with:
          path: './gradle.properties'
          properties: 'version'

      - name: Output
        run: |
          echo library/quick_map/assets/*
          echo ./changelogs/${{ steps.read_version.outputs.version }}.txt
          echo ${{ steps.read_version.outputs.version }}

      - name: Release the new json versions
        uses: softprops/action-gh-release@v1
        with:
          files: library/quick_map/assets/*
          body_path: ./changelogs/${{ steps.read_version.outputs.version }}.txt
          tag_name: ${{ steps.read_version.outputs.version }}

      - uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          nodetail: true
          username: Github
          avatar_url: https://lorcana.codlab.eu/discord_avatar.png
          title: "New version ${{ steps.read_version.outputs.version }} is ready!"
          description: |
            Version `${{ steps.read_version.outputs.version }}`
            Click [here](https://github.com/codlab/lorcana-data/releases/tag/${{ steps.read_version.outputs.version }})
